<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Wikipedia</h1>

    <form action="">
        <input type="text" placeholder="Search Encyclopedia">
    </form>
    <ul>
        <li>Home</li>
        <li>Create New Page</li>
        <li>Random Page</li>
    </ul>
    <h2>All Pages</h2>
    <ul>
        <li>CSS</li>
        <li>Django</li>
        <li>Git</li>
        <li>Html</li>
        <li>Python</li>
    </ul>
</body>
</html>