<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Wikipedia</h1>

    <form action="">
        {%csrf_token%}
        <input type="text" placeholder="Search Encyclopedia">
        <input type="submit">
    </form>
    <ul>
        <li><a href="{url 'index'}">Home Page</a></li>
        <li>Create New Page</li>
        <li>Random Page</li>
    </ul>
    <h2>All Pages</h2>
    <ul>
        {%for task in tasks%}
            <li> <a href=/wikipedia/{{task}}>{{task}}</a></li>
        {%endfor%}    
    </ul>
    
</body>
</html>